/* css styles */

body {
  color: black;
  background: #f0f5fa;
}

.navbar li.nav-item a.nav-link span {
  color: white !important;
}

.navbar-brand-logo img {
  padding: 0 !important;
}

.dataTable {
  font-size: 14px;
    
  table {
    border: 2px solid lightGrey;
    
  }
  
  th {
      border: 2px solid lightGrey;
  }
  
  td {
      border: 2px solid lightGrey;
  }
  
  tr:last-child td {
      border-bottom: 2px solid lightGrey;
  }
}

.tools {
  font-size: 15px;
  
  th {
    border-top: 2px solid lightGrey;
    border-bottom: 2px solid lightGrey;
  }
  
  tr:last-child td {
    border-bottom: 2px solid lightGrey;
  }
}